@import 'bootstrap/scss/bootstrap';
@import './vendors/awesome';    
@import './vendors/header';
@import './vendors/services';
@import './vendors/about';
@import '@splidejs/splide/dist/css/splide.min.css';
@import './vendors/testimonial';
@import './vendors/footer';
@import './vendors/funfacts';

body{
    font-family: 'Dosis', sans-serif;
}

p{
	font-family: 'Montserrat', sans-serif;
}
a{
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Dosis', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f73b56; 
    border-radius: 0px;
  }

 #go-top{
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 1.5em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover {
      width: 42px;
      height: 42px;
    }
  }

  
