<div id="fun_facts">
  <div class="section_overlay">
    <div class="container">
      <div class="row">       
        <div class="col-md-6">   
          <div class="row">
            <% @fun_facts.each do |funfact| %>
              <div class="col-md-4">
                <div class="single_count">
                  <i class="<%= funfact[:icon] %>"></i>
                  <h3> <%= funfact[:number] %></h3>
                  <p> <%= funfact[:text] %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div> 

        <div class="col-md-5 offset-md-1">
          <div class="imac">
            <%= image_pack_tag "imac.png", alt:"" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>