<div id="fun_facts">
  <div class="section_overlay">

    <div class="container">

      <div class="row">

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <div class="single_count">
                <i class="fas fa-toolbox"></i>
                <h3>300</h3>
                <p>Project Done</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_count">
                <i class="fas fa-clock"></i>
                <h3>1700+</h3>
                <p>Hours Worked</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single_count">
                <i class="fas fa-trophy"></i>
                <h3>37</h3>
                <p>Awards Won</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 offset-md-1">
          <div class="imac">
            <%= image_pack_tag "imac.png", alt:"" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>