<div id="services">
  <div class="container line">
    <div class="row">
      <% @services.each do |service| %>
        <div class="col-md-3 text-center">
          <div class="single_service">
            <i class="<%= service.icon %>"></i>
            <h2> <%= service.title %> </h2>
            <p> <%= service.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>