<div id="testimonial">
  <div class="container" data-controller="splides">
    <div class="splide" data-target="slide"> 
      <div class="splide__track">
        <ul class="splide__list">
          <% @testimonials.each do |tes| %>
            <li class="splide__slide">
              <div class="single_testimonial text-center">
                <p>
                  <%= tes[:content] %>
                </p>
                <h4>
                  <%= tes[:author] %>
                </h4>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>