<ul class="navbar-nav navbar-right">
  <li class="nav-item">
    <a class="nav-link active" href="#HOME">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#SERVICE">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#ABOUT">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#TESTIMONIAL">Testimonial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#WORK">Work</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#CONTACT">Contact</a>
  </li>
</ul>
